
body {
    padding-top: 50px;
}

/* 侧边栏部分 */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.nav-sidebar {
    margin-right: -21px; 
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/* 侧边栏部分结束 */

/* 网页内容部分*/
.main {
    padding: 15px;
    position: fixed;
    top:50px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
/* 网页内容部分结束*/

/* 工具栏 */
.toolbar {
    padding: 10px;
    float: left;
    /*background-color: #f5f5f5;*/
}
/* 工具栏结束 */

/* 画板 */
.board {
    position: absolute;
    left:10px;
    right: 10px;
    top: 70px;
    bottom: 10px;
    background-color: #f5f5f5;
    border: solid 1px #bbb;
}
/* 画板结束 */

/* 组件 */
.component1 {
    min-width: 70px;
    position: absolute;
    height: 40px;
    background-color: #eee;
    border: solid 1px #aaa;
    padding: 0 10px;
    text-align: center;
    line-height: 40px;
}
.component2 {
    min-width: 70px;
    position: absolute;
    border: 1px solid #aaa;
    background-color: #ddddff;
    border-radius: 20px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    line-height: 40px;
}
.component3::before {
    content: "";
    width: 0px;
    border-bottom: 20px solid transparent; 
    border-top: 20px solid transparent;
    border-right: 10px solid #6c6;
    position: absolute;
    left: -10px;
    top: 0px;
}
.component3 {
    min-width: 70px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    background: #6c6;
    display: inline-block;
    position: absolute;
    line-height: 40px;
    text-align: center;
}
.component3::after {
    content: "";
    width: 0px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: solid 10px #6c6;
    position: absolute;
    right: -10px;
    top: 0px;
}
/* 组件结束 */

/* 标准解部分 */
.content {
    height: 100%;
}
#top {
    height: 50%;
    overflow-y: auto;
}
#bottom {
    height: 50%;
}
#bottom div.row, #bottom div.col-sm-6 {
    height: 100%;
}
#bottom div.panel {
    height: 85%;
}
#ptree {
    overflow-y: auto;
    height: 85%;
}
/* 标准解部分结束 */

/* 作用链部分 */
#matrix1 table td, #matrix2 table td {
    border: solid 1px;
    padding: 5px;
}
/* 作用链部分结束 */

/* 生成报告部分 */
.oboard {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: #f5f5f5;
}
/* 生成报告部分结束 */
